/* 캐러셀부분 */
.gallery-view {/*보이는 부분*/
  width: 100%;
  height: 100%;
  margin: 0 auto 5px;
  white-space: nowrap;
  letter-spacing: -4px;
  overflow: hidden;
}.gallery-view .no {/*이미지가 들어가는 부분*/
  box-sizing: border-box;
  text-align: center;
  position: relative;
  width: 770px;/*이미지너비*/
  height: 448px;/*이미지높이*/
  display: inline-block;
  letter-spacing: 0;
  
}

.no img{
  width: 770px;
  height: 450px;
}
/* Animation */

.gallery-view.no1 .no {
  left: -770px;/*이미지 너비와 같이*/
  animation: no3 0.5s linear 1;
}.gallery-view.no2 .no {/*이미지 초기너비*2*/
  left: -1540px;
  animation: no1 0.5s linear 1;
}.gallery-view.no3 .no {/*이미지 초기너비*3*/
  left: -2310px;
  animation: no2 0.5s linear 1;
}.gallery-view.no1.lt .no {
  animation: no1lt 0.5s linear 1;
}.gallery-view.no2.lt .no {
  animation: no2lt 0.5s linear 1;
}.gallery-view.no3.lt .no {
  animation: no3lt 0.5s linear 1;
}

@keyframes no1 {
  0%   {left: -770px;}/*이미지 초기너비에 맞추어서.*/
  50%  {left: -1000px;}
  100% {left: -1540px;}/*이미지 초기너비*2*/
}
@keyframes no2 {
  0%   {left: -1540px;}
  50%  {left: -2000px;}
  100% {left: -2310px;}/*이미지 초기너비*3*/
}
@keyframes no3 {
  0%   {left: -2310px;}/*이미지 초기너비*3*/
  50%  {left: -3000px;}
  100% {left: -3080px;}/*이미지 초기너비*4*/
}
@keyframes no1lt {
  0%   {left: -1540px;}
  50%  {left: -1000px;}
  100% {left: -770px;}
}
@keyframes no2lt {
  0%   {left: -2310px;}/*이미지 초기너비*3*/
  50%  {left: -2000px;}
  100% {left: -1540px;}/*이미지 초기너비*2*/
}
@keyframes no3lt {
  0%   {left: -770px;}/*이미지 초기너비에 맞추어서.*/
  50%  {left: -500px;}
  100% {left: 0px;}
}
/* 캐러셀 버튼부분 */
#carousel{
  position: relative;
  width: 100%;
  height: 100%;
}
.vanishing{
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  color: var(--white);
  justify-content: space-between;
}
.vanishing span{
  font-size: 20px;
}
.vanishing i{
  padding: 0px 7px;
}
.control{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 20px 20px 0 20px;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg,hsla(0,0%,100%,0) 50%,#fff);
}
.control button{
  width: 50px;
  height: 85px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

/* 내용부분 */

#img{
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}
#img a{
  padding: 2px 5px;
  color: var(--white);
  background-color: var(--black_4);
}

/* 모텔정보 */
.motel-name h1{
  margin-top: 15px;
  font-size: 25px;
}
#score{
  display: flex;
  align-items: center;
  margin-top: 5px;
}
#score span i{
  font-size: 18px;
  color: gold;
}
/* 숙소 소개 */
#score span{
  color: var(--line_gray);
  font-size: 11px;
  margin-right: 10px;
}
#score span b{
  color: var(--black_1);
  font-size: 18px;
}
#score a{
  font-size: 14px;
  color: var(--blue);
}
.where{
  display: block;
  margin: 13px 0;
  font-size: 14px;
  color: var(--blue);
}
#coupon{
  width: 100%;
  padding: 10px;
  border: 1px solid var(--blue);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#coupon h2{
  font-weight: 300;
  font-size: 15px;
}
#coupon h2 i,a {
  font-size: 14px;
  color: var(--blue);
}
#coupon p{
  font-size: 12px;
}

/* 체크인,아웃 */
#check-day{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-top: 1px solid var(--line_gray);
  border-bottom: 1px solid var(--line_gray);
}
.check{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.check h2{
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--blue);
}
.check h2 span{
  margin-right: 5px;
}
.check h2 i{
  font-size: 15px;
}
#cut-div{
  text-align: center;
  width: 1px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  background: var(--line_gray)
}
/* 방정보 */
.room-box{
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid var(--line_gray);
}
.room-box-cont{
  width: 100%;
}
.room-img{
  display: flex;
  min-width: 275px;
  height: 210px;
  margin-right: 10px;
  border-radius: 12px;
  overflow: hidden;
}

/* room's content' */
.room-info h2{
  font-size: 13px;
  font-weight: 500;
}
.room-info p{
  font-size: 14px;
  color: var(--black_4);
  margin-bottom: 15px;
}
.room-rent,
.room-sleep{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.option {
  font-size: 14px;
}
.option b{
  font-weight: 400;
}
.option span{
  font-size: 12px;
  color: var(--black_4);
}
.room-box-price,
.room-First-come{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.room-box-price p{
  font-size: 12px;
}
.bold{
  font-size: 14px;
}
.bold b{
  font-size: 17px;
}
.left-room{
  display: flex;
  justify-content: end;
  font-size: 13px;
  font-weight: 500;
  color: orange;
}
.real-price{
  font-size: 10px;
  color: var(--black_4);
  text-decoration: line-through;
}

.room-First-come p{
  font-size: 12px;
  line-height: 1.5rem;
  color: var(--hotpink);
}
.cutoff{
  color: var(--hotpink);
  font-size: 13px;
}
.cutoff b{
  font-weight: 500;
  font-size: 18px;
}

.first-in{
  font-size: 11px;
  /* display: block;
  max-width: 900px; */
  border-radius: 2px;
  border: 1px solid var(--hotpink);
}
.first-in span{
  padding:0 3px;
}
.first-in-first{
  color: var(--white);
  background-color: var(--hotpink);
}
.first-in-percent{
  color: var(--hotpink);
}

/* 예약마감 */
.sold-room{
  font-size: 12px;
  color: var(--black_4);
}
.already-sold{
  color: var(--black_4);
  font-weight: 700;
  font-size: 13px;
}

/* 숙소 소개 */
#introduce,
#combine,
#howtouse {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--line_gray);
}
#introduce h1,
#combine h1,
#howtouse h1{
  padding: 20px 0;
}
#introduce h2,
#combine h2,
#howtouse h2{
  font-size: 17px;
  font-weight: 500;
}
#introduce p{
  color: var(--black_1);
  font-size: 15px;
  line-height: 1.2rem;
}
/* 편의시설 */
#motel-carusel{
  display: flex;
  margin: 20px 0;
  overflow: hidden;
}
.combine-carusel-box{
  display: flex;
  width: 5.6rem;
  flex-direction: column;
  margin-right: 30px;
}
.combine-carusel-box span{
  font-size: 14px;
  text-align: center;
  color: var(--black_1);
}
.combine-carusel-box:last-child{
  margin-right: 0;
}
.combine-carusel-box img{
  width: 56px;
  height: 40px;
  margin-bottom: 12px;
  overflow: hidden;
}

.dotted{
  margin-bottom: 15px;
}
#combine li,
#howtouse li{
  color: var(--black_1);
  line-height: 2rem;
  font-size: 15px;
}
/* 판매자정보 */
#seller-info{
  width: 100%;
  padding: 20px 0;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: inherit;
  display: flex;
  justify-content: space-between;
}
#cut-line{ 
  width: 100%;
  height: 15px;
  background-color: var(--background_gray);
}
/* 후기 */
/* footer */




