#premium_wrap{
    width: 100%;
    position: relative;
}
header{
    width: 100%;
    height: 94px;
    border-bottom: 1px solid #c0c0c0;
    position: fixed;
    z-index: 99;    
    background-color: #fff;
}
#premium_in_header{
    width: 770px;
    margin: 0 auto;
    position: relative;
    padding: 10px 7px;
    box-sizing: border-box;
}
#premium_in_header>div{
    position: absolute;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
}
.back_btn{
    left: 0;
}
.share_btn{
    right: 60px;
}
.cart_btn{
    right: 15px;
}
#premium_in_header>div>img{
    width: 1.7em;
    height: 1.7em;
}
.premium_text{
    position: absolute;
    top: 50px;
    left: 18px;
    font-size: 1.6em;
    font-weight: 500;
}

/* section */
section{
    width: 100%;
    height: auto;
    position: relative;
    top: 94px;
}
#in_section{
    width: 770px;
    margin: 0 auto;
}
#in_section>div>img{
    width: 100%;
    float: left;
}


/* footer */
footer{
    width: 100%;
    height: 55px;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    bottom: 0;
    border-top: 1px solid #e6e6e6;
    box-sizing: border-box;
}
#footer_wrap{
    width: 768px;
    height: 100%;
    margin: 0 auto;
}
#footer_list{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_icon{
    position: relative;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_text{
    color:#ababab;
    font-size: 12px;
    text-align: center;
    line-height: 5px;
}
.footer_icon>img{
    position: absolute;
    top:0;
    left: 80px;
}